
whc/front_end/.classpath
whc/front_end/.classpath
whc/front_end/.classpath
whpp/org.xtext.whpp.mydsl.ide/bin/META-INF/services/org.eclipse.xtext.ISetup
whpp/org.xtext.whpp.mydsl.ide/bin/org/xtext/whpp/mydsl/ide/.WhIdeModule.java._trace
*.xtendbin
*._trace
*._trace
whc/front_end/.classpath
whpp/org.xtext.whpp.mydsl.ide/bin/META-INF/services/org.eclipse.xtext.ISetup
*.MF
*._trace
whpp/org.xtext.whpp.mydsl/xtend-gen/org/xtext/whpp/mydsl/validation/.WhValidator.xtendbin
whpp/org.xtext.whpp.mydsl.ide/bin/META-INF/services/org.eclipse.xtext.ISetup
whpp/org.xtext.whpp.mydsl.ide/bin/org/xtext/whpp/mydsl/ide/.WhIdeModule.xtendbin
whpp/org.xtext.whpp.mydsl.ide/bin/org/xtext/whpp/mydsl/ide/AbstractWhIdeModule.class
whpp/org.xtext.whpp.mydsl.ide/bin/org/xtext/whpp/mydsl/ide/contentassist/antlr/internal/InternalWh.tokens
whpp/org.xtext.whpp.mydsl.ide/bin/org/xtext/whpp/mydsl/ide/contentassist/antlr/internal/InternalWhLexer.class
whpp/org.xtext.whpp.mydsl/xtend-gen/org/xtext/whpp/mydsl/generator/.WhGenerator.java._trace
whpp/org.xtext.whpp.mydsl/bin/org/xtext/whpp/mydsl/Wh.xtextbin
whpp/org.xtext.whpp.mydsl/bin/org/xtext/whpp/mydsl/services/WhGrammarAccess$ProgramElements.class
whpp/org.xtext.whpp.mydsl/bin/org/xtext/whpp/mydsl/services/WhGrammarAccess$VariableElements.class
whpp/org.xtext.whpp.mydsl/bin/org/xtext/whpp/mydsl/services/WhGrammarAccess.class
whpp/org.xtext.whpp.mydsl/bin/org/xtext/whpp/mydsl/validation/.WhValidator.java._trace
*.xtendbin
whpp/org.xtext.whpp.mydsl/src-gen/org/xtext/whpp/mydsl/wh/WhPackage.java
*.xtendbin
whpp/org.xtext.whpp.mydsl.ide/META-INF/MANIFEST.MF
